<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div style="text-align:center">
  <h1>
    SISTEM INFORMASI UAD
  </h1>
  <img width="150px" alt="Angular Logo" src="assets/UAD.png">
</div>
<ul>

  <li><a href="" routerLink="/home">HOME</a></li>
  <li><a href="" routerLink="/Praktikum3">Praktikum3</a></li>
  <li><a href="" routerLink="/Mahasiswa">Mahasiswa</a></li>

</ul>


<router-outlet></router-outlet>